
<div class="list-item">
    <div class="list-item-cell check" [style.width.%]="5"></div>
    <div class="list-item-cell bold black" [style.width.%]="30">{{ assetWithDetailsAndFields.name }}</div>
    <div class="list-item-cell grey" [style.width.%]="30">{{assetWithDetailsAndFields.assetSeriesName}}</div>
    <div class="list-item-cell grey" [style.width.%]="30">{{assetWithDetailsAndFields.manufacturer}}</div>
    <div class="list-item-cell grey label-success" [style.width.%]="20">{{assetWithDetailsAndFields.locationName}}</div>
    <div class="list-item-cell grey label-success" [style.width.%]="30">
        <div>
            <p-progressBar[value]="maintenancePercentage" [showValue]="false"></p-progressBar>
        </div>
    </div>
    <div class="list-item-cell grey" [style.width.%]="5"></div>
    <div class="list-item-cell grey label-success" [style.width.%]="30">
        <div *ngIf="maintenancePercentage &lt; 25">
            <b>{{ maintenanceDurationHours }} Stunden</b> oder <b>{{ maintenanceDurationDays }} Tage</b>
        </div>
        <div *ngIf="maintenancePercentage &gt; 25 && maintenancePercentage &lt; 50">
            <b>{{ maintenanceDurationHours }} Stunden</b> oder <b>{{ maintenanceDurationWeeks }} Wochen</b>
        </div>
        <div *ngIf="maintenancePercentage &gt; 50">
            <b>{{ maintenanceDurationHours }} Stunden</b> oder <b>{{ maintenanceDurationMonth }} Monate</b>
        </div>
    </div>
    <div class="list-item-cell grey" [style.width.%]="5">
    </div>
</div>
  