<div class="efficiency-dashboard-overview">
  <div class="clr-row clr-justify-content-between clr-align-items-center list-header">
    <label class="title">Equipment Efficiency Dashboard</label>
    <div>
      <label class="if-label">Pick Date</label>
      <p-calendar class="calendar-only-button" [(ngModel)]="date" (ngModelChange)="dateChanged.emit($event)" showIcon="true" showButtonBar="true"
                  dateFormat="dd.mm.yy"></p-calendar>
    </div>
  </div>

  <div class="aggregated-stats list-header">
    <div class="aggregated-section realtime">
      <label class="aggregated-title">Realtime Status</label>
    </div>

    <div class="aggregated-section status-donut">
      <label class="aggregated-title">Status Overview (All Assets)</label>
    </div>

    <div class="aggregated-section status-bar">
      <label class="aggregated-title">Status Overview (All Assets)</label>
    </div>
  </div>

</div>
