<div>
  <div class="p-grid p-jc-between header-line">
    <h3 class="table-header">Maintenance Dashboard</h3>
    <div class="filter-btn-div">
      <app-table-filter [tableFilters]="tableFilters" [itemsToBeFiltered]="factoryAssetDetailsWithFields"
                        [position]="['90%', '-450%']" (filteredItems)="filterAssets($event)">
      </app-table-filter>
    </div>
  </div>

  <p-treeTable [alwaysShowPaginator]="true"
               [pageLinks]="5"
               [paginator]="true"
               [rowsPerPageOptions]="[5,10,50]"
               [rows]="10"
               [value]="treeData" class="list-container"
               sortMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th [style.width.%]="2"></th>
        <th [style.width.%]="4"></th>
        <th [style.width.%]="20">
          <app-table-searchbar filterColumn="Asset" [itemsToBeFiltered]="factoryAssetDetailsWithFields"
                               attributeToBeSearched="name" (searchByName)="searchAssets($event)">
          </app-table-searchbar>
        </th>
        <th [style.width.%]="18" ttSortableColumn="category">Asset Type
          <p-treeTableSortIcon field="category"></p-treeTableSortIcon>
        </th>
        <th [style.width.%]="20" ttSortableColumn="manufacturer">Manufacturer
          <p-treeTableSortIcon field="manufacturer"></p-treeTableSortIcon>
        </th>
        <th [style.width.%]="12" ttSortableColumn="factorySiteName">Factory
          <p-treeTableSortIcon field="factorySiteName"></p-treeTableSortIcon>
        </th>
        <th [style.width.%]="13">Days till Maintenance</th>
        <th [style.width.%]="13">Operating Hours till Maintenance</th>
        <th [style.width.%]="2"></th>
      </tr>
    </ng-template>
    <ng-template let-rowData="rowData" let-rowNode pTemplate="body">
      <tr [ttRow]="rowNode">
        <td [style.width.%]="2"></td>
        <td [style.width.%]="4">
          <div [ngSwitch]="getMaxOpenAlertPriority(rowNode.node)" [style.width.%]="3"
               class="list-item-cell notification-icons">
            <clr-icon *ngSwitchCase="OispPriority.LOW" class="is-solid notification-low" shape="info-standard"
                      size="20"></clr-icon>
            <clr-icon *ngSwitchCase="OispPriority.MEDIUM" class="is-solid notification-medium"
                      shape="exclamation-circle"
                      size="20"></clr-icon>
            <clr-icon *ngSwitchCase="OispPriority.HIGH" class="is-solid notification-high" shape="exclamation-triangle"
                      size="20"></clr-icon>
          </div>
        </td>
        <td [ngClass]="{'asset-needs-maintenance': isMaintenanceNeededSoon(rowNode.node)}"
            class="asset-column p-flex-row">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          <span *ngIf="rowNode.parent" class="subsystem-grid p-col-">
            <span class="upper"></span>
            <span [ngClass]="{'last-element': isLastChildElement(rowNode)}" class="lower"></span>
          </span>
          <span class="p-col">{{rowData.name}}</span>
        </td>
        <td [style.width.%]="18">{{rowData.category}}</td>
        <td [style.width.%]="20">{{rowData.manufacturer}}</td>
        <td [style.width.%]="12">{{rowData.factorySiteName}}</td>
        <td [style.width.%]="13">
          <span class="progressbar-wrapper">
            <app-maintenance-progressbar [asset]="rowData" [type]="utils.maintenanceDays"></app-maintenance-progressbar>
            <span *ngIf="isChildrenMaintenanceNeededSoon(rowNode.node)" class="progressbar-icon">
              <fa-icon (click)="openNode(rowNode.node)" *ngIf="rowNode.node.expanded" [icon]="faChevronCircleDown"
                       class="fa-fw"></fa-icon>
              <fa-icon (click)="openNode(rowNode.node)" *ngIf="!rowNode.node.expanded" [icon]="faChevronCircleUp"
                       class="fa-fw"></fa-icon>
            </span>
          </span>
        </td>
        <td [style.width.%]="13">
          <app-maintenance-progressbar [asset]="rowData" [type]="utils.maintenanceHours"></app-maintenance-progressbar>
        </td>
        <td [style.width.%]="2"></td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>

