<div>
  <div class="clr-row clr-justify-content-between clr-align-items-center list-header">
    <div class="title">Maintenance Dashboard</div>
    <div style="position: relative">
      <button (click)="filterpanel.toggle($event)" class="filter-btn">
        <fa-icon [icon]="faFilter" class="fa-fw"></fa-icon>
      </button>
      <button (click)="clearAllFilters(); filterpanel.hide()" *ngIf="activeFilterSet.size > 0"
              class="remove-all-filters-btn">
        <i class="pi pi-times-circle remove-all-filters-btn-icon"></i>
      </button>
    </div>
  </div>

  <p-table [paginator]="true"
           [rowsPerPageOptions]="[5,10,50]"
           [rows]="10"
           [showCurrentPageReport]="true"
           [value]="displayedFactoryAssets" class="list-container"
           currentPageReportTemplate="{first} to {last} of {totalRecords} Assets">
    <ng-template pTemplate="header">
      <tr>
        <th [style.width.%]="2"></th>
        <th (click)="searchpanel.toggle($event)" [style.width.%]="20">Asset
          <fa-icon [icon]="faSearch" class="fa-fw"></fa-icon>
        </th>
        <th [style.width.%]="18">Asset Type</th>
        <th [style.width.%]="20">Manufacturer</th>
        <th [style.width.%]="12">Factory</th>
        <th [style.width.%]="13">Days till Maintenance</th>
        <th [style.width.%]="13">Operating Hours till Maintenance</th>
        <th [style.width.%]="2"></th>
      </tr>
    </ng-template>

    <ng-template let-asset pTemplate="body">
      <tr>
        <td [style.width.%]="2"></td>
        <td [ngClass]="{'asset-needs-maintenance': isMaintenanceNeededSoon(asset)}"
            [style.width.%]="20">{{asset.name}}</td>
        <td [style.width.%]="18">{{asset.category}}</td>
        <td [style.width.%]="20">{{asset.manufacturer}}</td>
        <td [style.width.%]="12">{{asset.factorySiteName}}</td>
        <td [style.width.%]="13">
          <app-maintenance-progressbar [asset]="asset"
                                       [maintenancePercentage]="getMaintenanceDaysPercentage(asset)"
                                       [maintenanceValue]="getMaintenanceDaysValue(asset)"
                                       [state]="getMaintenanceState(getMaintenanceDaysValue(asset), MAINTENANCE_DAYS_LOWER_THRESHOLD, MAINTENANCE_DAYS_UPPER_THRESHOLD)"
          ></app-maintenance-progressbar>
        </td>
        <td [style.width.%]="13">
          <app-maintenance-progressbar [asset]="asset"
                                       [maintenancePercentage]="getMaintenanceHoursPercentage(asset)"
                                       [maintenanceValue]="getMaintenanceHoursValue(asset)"
                                       [state]="getMaintenanceState(getMaintenanceHoursValue(asset), MAINTENANCE_HOURS_LOWER_THRESHOLD, MAINTENANCE_HOURS_UPPER_THRESHOLD)"
          ></app-maintenance-progressbar>
        </td>
        <td [style.width.%]="2"></td>
      </tr>
    </ng-template>

  </p-table>
</div>

<p-overlayPanel #searchpanel [showCloseIcon]="true" class="assetSearchPanel">
  <ng-template pTemplate>
    <div class="panel-heading">Search</div>
    <span class="p-input-icon-left">
            <fa-icon [icon]="faSearch" class="fa-fw"></fa-icon>
            <input [(ngModel)]="searchText" class="search-input" pInputText placeholder="Name" type="text">
        </span>
    <br>
    <div class="footer">
      <button (click)="searchAssets(); searchpanel.hide()" class="if-button button-primary button-modal"
              style="font-size: 13px; height: 30px; margin: 5px 0 0 0;"
              type="button">Apply
      </button>
    </div>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #filterpanel [dismissable]="false" class="dashboardFilterPanel">
  <ng-template pTemplate>
    <div class="panel-heading">Filter</div>
    <div>
      <div *ngFor="let activeFilter of activeFilterSet" style="margin-bottom: 10px;">
        <div *ngIf="activeFilter.filterAttribute === assetType">
          <p-dropdown [(ngModel)]="activeFilter.filterAttribute" [options]="filterOptions"
                      optionLabel="label"></p-dropdown>
          <button
            (click)="editFilterPanel.toggle($event); dashboardFilterTypeActice = dashboardFilterModalTypes.assetTypeFilterModal"
            class="open-filterpanel-btn">
            <div class="filter-panel-btn-grid">
              <span
                class="filter-panel-btn-grid-text">{{ selectedAssetTypes.length | i18nPlural: selectedValueMapping }}</span>
              <i class="pi pi-chevron-down filter-panel-btn-grid-icon"></i>
            </div>
          </button>
          <button (click)="clearSingleFilter(activeFilter)" class="remove-filter-btn">
            <i class="pi pi-times remove-filter-btn-icon"></i>
          </button>
        </div>
        <div *ngIf="activeFilter.filterAttribute === manufacturer">
          <p-dropdown [(ngModel)]="activeFilter.filterAttribute" [options]="filterOptions"
                      optionLabel="label"></p-dropdown>
          <button
            (click)="editFilterPanel.toggle($event); dashboardFilterTypeActice = dashboardFilterModalTypes.manufacturerFilterModal"
            class="open-filterpanel-btn">
            <div class="filter-panel-btn-grid">
              <span
                class="filter-panel-btn-grid-text">{{ selectedCompanies.length | i18nPlural: selectedValueMapping }}</span>
              <i class="pi pi-chevron-down filter-panel-btn-grid-icon"></i>
            </div>
          </button>
          <button (click)="clearSingleFilter(activeFilter)" class="remove-filter-btn">
            <i class="pi pi-times remove-filter-btn-icon"></i>
          </button>
        </div>
        <div *ngIf="activeFilter.filterAttribute === factory">
          <p-dropdown [(ngModel)]="activeFilter.filterAttribute" [options]="filterOptions"
                      optionLabel="label"></p-dropdown>
          <button
            (click)="editFilterPanel.toggle($event); dashboardFilterTypeActice = dashboardFilterModalTypes.factoryFilterModal"
            class="open-filterpanel-btn">
            <div class="filter-panel-btn-grid">
              <span
                class="filter-panel-btn-grid-text">{{ selectedFactorySites.length | i18nPlural: selectedValueMapping }}</span>
              <i class="pi pi-chevron-down filter-panel-btn-grid-icon"></i>
            </div>
          </button>
          <button (click)="clearSingleFilter(activeFilter)" class="remove-filter-btn">
            <i class="pi pi-times remove-filter-btn-icon"></i>
          </button>
        </div>
        <div *ngIf="activeFilter.filterAttribute === maintenanceDue">
          <p-dropdown [(ngModel)]="activeFilter.filterAttribute" [options]="filterOptions"
                      optionLabel="label"></p-dropdown>
          <button
            (click)="editFilterPanel.toggle($event); dashboardFilterTypeActice = dashboardFilterModalTypes.maintenanceDueFilterModal"
            class="open-filterpanel-btn">
            <div class="filter-panel-btn-grid">
              <span
                class="filter-panel-btn-grid-text">{{ selectedMaintenanceDue.length | i18nPlural: selectedValueMapping }}</span>
              <i class="pi pi-chevron-down filter-panel-btn-grid-icon"></i>
            </div>
          </button>
          <button (click)="clearSingleFilter(activeFilter)" class="remove-filter-btn">
            <i class="pi pi-times remove-filter-btn-icon"></i>
          </button>
        </div>
      </div>
      <button (click)="addFilter()" *ngIf="activeFilterSet.size < 4" class="add-btn">
        <i class="pi pi-plus add-btn-icon"></i>
        Add filter
      </button>
    </div>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #editFilterPanel class="editFilterPanel">
  <ng-template pTemplate>
    <div *ngIf="dashboardFilterTypeActice == dashboardFilterModalTypes.assetTypeFilterModal">
      <div class="panel-heading">Select AssetType</div>
      <div *ngFor="let assetType of assetTypes">
        <p-checkbox [(ngModel)]="selectedAssetTypes" [inputId]="assetType.id" [value]="assetType" name="assetTypeValues"
                    value="assetType"></p-checkbox>
        <label [for]="assetType.id" style="margin-left: 7px;">{{assetType.description}}</label>
      </div>
    </div>
    <div *ngIf="dashboardFilterTypeActice == dashboardFilterModalTypes.manufacturerFilterModal">
      <div class="panel-heading">Select Manufacturer</div>
      <div *ngFor="let company of companies">
        <p-checkbox [(ngModel)]="selectedCompanies" [inputId]="company.id" [value]="company" name="companyValues"
                    value="company"></p-checkbox>
        <label [for]="company.id" style="margin-left: 7px;">{{company.description}}</label>
      </div>
    </div>
    <div *ngIf="dashboardFilterTypeActice == dashboardFilterModalTypes.factoryFilterModal">
      <div class="panel-heading">Select Factory Site</div>
      <div *ngFor="let factorySite of factorySites">
        <p-checkbox [(ngModel)]="selectedFactorySites" [inputId]="factorySite.id" [value]="factorySite"
                    name="factorySitesValues" value="factorySite"></p-checkbox>
        <label [for]="factorySite.id" style="margin-left: 7px;">{{factorySite.name}}</label>
      </div>
    </div>
    <div *ngIf="dashboardFilterTypeActice == dashboardFilterModalTypes.maintenanceDueFilterModal">
      <div class="panel-heading">Select Factory Site</div>
      <div>
        <p-checkbox [(ngModel)]="selectedMaintenanceDue" name="maintenanceDueValues"
                    value="{{ maintenanceValues[0] }}"></p-checkbox>
        <label style="margin-left: 7px;">{{ maintenanceValues[0] }}</label>
      </div>
      <div>
        <p-checkbox [(ngModel)]="selectedMaintenanceDue" name="maintenanceDueValues"
                    value="{{ maintenanceValues[1] }}"></p-checkbox>
        <label style="margin-left: 7px;">{{ maintenanceValues[1] }}</label>
      </div>
      <div>
        <p-checkbox [(ngModel)]="selectedMaintenanceDue" name="maintenanceDueValues"
                    value="{{ maintenanceValues[2] }}"></p-checkbox>
        <label style="margin-left: 7px;">{{ maintenanceValues[2] }}</label>
      </div>
    </div>

    <div style="margin-top: 10px;">
      <button (click)="clearSelectFilterValues(); filterAssets();"
              class="if-button button-secondary button-modal clear-filter-btn">
        Clear all
        <i class="pi pi-times btn-icon"></i>
      </button>
      <button (click)="filterAssets(); editFilterPanel.hide()"
              class="if-button button-primary button-modal select-filter-btn">
        Select
      </button>
    </div>
  </ng-template>
</p-overlayPanel>
