@import 'base/typography';
@import "abstract/variables";

.if-button {
  padding: 17px 78px 16px;

  text-align: center;
  font-weight: 500;
  font-size: $bigger-font-size;
  line-height: $big-line-height;
  letter-spacing: 0;
  color: $basic-black;

  text-transform: uppercase;

  background: $white-background;
  border-radius: 44px;
  opacity: 1;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &.button-secondary {
    font-weight: normal;
    color: $basic-black;
    box-shadow: $dark-box-shadow;
  }

  &.button-primary {
    font-weight: bold;
    color: $basic-white;
    background: $black-background;
    box-shadow: $dark-box-shadow;
  }

  &.button-modal {
    padding: 0;
    margin-right: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
  }

  &:disabled {
    background: $basic-grey;
  }
}

.if-button-cancel {
  padding-top: 17px;
  padding-bottom: 16px;
  padding-right: 78px;
  padding-left: 78px;

  margin-right: 16px;

  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  color: #000000;
  text-transform: uppercase;

  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 44px;
  opacity: 1;
  cursor: pointer;
}

.if-button-edit {
  color: $basic-white;
  font-weight: bolder;

  background: $basic-black 0 0 no-repeat padding-box;
  border-radius: 10px;
  border: none !important;
  opacity: 1;

  height: 40px;
  width: 90px;
  cursor: pointer;

  margin: 8px 4px;

  clr-icon {
    height: 24px;
    width: 24px;
    color: $basic-white;
  }

  &:hover {
    background: $hover-grey;
  }
}

.close-modal-btn {
  border: none;
  float: right;
  border-color: hsl(198, 0%, 95%);
  font-size: 15px;
  color: black;
  cursor:pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}
