
@import 'abstract/variables';
@import 'base/typography';

.if-detail-page-section {
  display: flex;
  height: max-content;
  /*height: 150px;*/
  width: 100%;
  margin: 4.44% 0;
  background: $grey-background;
  padding: 0.57% 7.71%;

  .row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
  }

  .if-detail-page-div  {

    width: 100%;

    h3 {
      font-size: $big-font-size;
      font-weight: bolder;
      margin: 0 0;
    }

    .if-detail-page-label {
      margin: 20px 0;

      p {
        color: $basic-grey;
        font-size: $regular-font-size;
        margin: 2px;
      }
    }

    .if-detail-page-description {
      margin: 10px 0;

      textarea {
        color: $basic-grey;
        font-size: $regular-font-size;
        border: none;
        background: none;
        resize: none;
        height: 80px;
      }
    }
  }
}
