
@import 'abstract/variables';
@import 'base/typography';

.if-detail-page-section {
  display: flex;
  height: max-content;
  /*height: 150px;*/
  width: 100%;
  margin: 4.44% 0;
  background: $grey-background;
  padding: 0.57% 7.71%;

  .if-detail-page-div  {

    h3 {
      font-size: $big-font-size;
      font-weight: bolder;

    }

    .if-detail-page-label {
      margin: 20px 0;

      p {
        color: $basic-grey;
        font-size: $regular-font-size;
        margin: 2px;
      }
    }

    .if-detail-page-description {
      margin: 10px 0;

      textarea {
        color: $basic-grey;
        font-size: $regular-font-size;
        border: none;
        background: none;
        resize: none;
        height: 80px;
      }
    }
  }
}
