@import 'base/typography';
@import "abstract/variables";

.if-label {
  text-align: left;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: $medium-font-size;
  line-height: $medium-line-height;
  letter-spacing: 0;
  color: $highlighted !important;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 1;
}

.if-label-small-header {
  @extend .if-label;
  font-weight: normal;
  font-size: $regular-font-size;
  line-height: $regular-line-height;
  color: #C1C1C1 !important;
}
