@import 'base/typography';
@import "abstract/variables";

.p-dialog {
  .p-radiobutton {
    .p-radiobutton-icon {
      background-color: $basic-black;
      height: 8px;
      width: 8px;
    }
  }

  .p-radiobutton-box {
    width: $radiobutton-width;
    height: $radiobutton-height;
    opacity: 1;
    border-color: $basic-black !important;
    box-shadow: none !important;
    margin-top: 2px;

    &.p-highlight {
      border-color: $basic-black;
      background: $basic-white;
    }
    &:hover {
      border-color: $basic-white;
      background: $basic-black;
    }
  }

  .p-radiobutton-label {
    font-size: $regular-font-size;
    line-height: $regular-line-height;
    text-align: left;
    letter-spacing: 0;
    color: $highlighted;
    opacity: 1;
  }
}
