.red-bar .p-progressbar .p-progressbar-value {
    background: #A73737 !important;
  }

  .grey-bar .p-progressbar .p-progressbar-value {
    background: #95989A !important;
  }

  .blue-bar .p-progressbar .p-progressbar-value {
    background: #32C5F0 !important;
  }

  .p-progressbar {
    height: 32px !important;
    border-radius: 8px !important;
  }
