@import 'base/typography';
@import "abstract/variables";

.p-dialog .p-dialog-titlebar {
    background: white !important;
    color: black !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-color: white;
  }

  .p-dialog .p-dialog-titlebar .p-dialog-titlebar-icon {
    color: black !important;
  }

.p-dialog .p-dialog-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $light-grey !important;
  opacity: 1;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8.1%;
  padding-right: 3.9%;
  border-bottom: none;

  .p-dialog-title {
    padding-top: 5.9%;
    font-size: $big-font-size;
    line-height: $big-line-height;
    letter-spacing: 0;
    color: $highlighted;
    text-align: left;
    font-weight: bold !important;
    opacity: 1;
  }
}

.p-dialog .p-dialog-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-color: $basic-white !important;
  background: $light-grey !important;
  opacity: 1;
  padding-top: 4.3%;
  padding-left: 8.1%;
  padding-right: 8.1%;

  .dialog-grid {
    display: inline-flex;
  }
  .dialog-grid-col {
    padding-left: 35px;
  }
}

.p-dialog {
    width: 51%;
    position: relative;
    box-shadow: $dark-box-shadow;
    border-radius: 10px;
}

.p-dialog .p-dialog-footer {
  background: $light-grey !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
