@import 'base/typography';
@import "abstract/variables";

.p-inputtext {
  background: $basic-white 0 0% no-repeat padding-box;
  border: 2px solid $light-grey;
  border-radius: 10px;
  box-shadow: none !important;
  opacity: 1;

  font-weight: normal;
  letter-spacing: 0;
  color: $highlighted;
  text-align: left;
  font-size: $bigger-font-size;

  &:hover {
    border: 2px solid $hover-grey-border !important;
    &.ng-invalid {
      border: 2px solid $error !important;
    }
  }

  &:focus {
    border: 2px solid $highlighted !important;
    &.ng-invalid {
      border: 2px solid $error !important;
    }
  }
}

.p-inputtextarea {
  @extend .p-inputtext;
  min-height: 85px;
}

.textarea-character-count {
  font-size: 12px;
  font-weight: normal;
  padding-right: 18.0%;
  padding-top: -25px;
  padding-bottom: 0;
  pointer-events:none;
  text-align: end;
}
