.dropdown-filter .ui-dropdown {
  background-color: hsl(198, 0%, 95%) !important;
  border-radius: 8px;
  border-color: white;
  margin-left: 5px;
  margin-right: 40px;

  .ui-dropdown-label {
    font-weight: bold !important;
    color: black;
    background-color:hsl(198, 0%, 95%) !important;
    }

    .ui-dropdown-trigger {
      background-color:hsl(198, 0%, 95%) !important;
    }
  }