.ui-dialog {
  width: 984px;
  height: max-content;
  position: relative;

    .ui-dialog-titlebar {
      color: black !important;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-color: white;
    }
  
    .ui-dialog-titlebar .ui-dialog-titlebar-icon {
      color: black !important;
    }
  
  
  .ui-dialog-content {
    background-color: #f4f4f4 !important;
    border: none !important;
  }

  .ui-dialog-footer {
    background-color: #f4f4f4 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

