@import 'base/typography';
@import 'abstract/variables';

.p-dropdown {
  width: 100%;
  background-color: $basic-white !important;
  border: 2px solid $basic-white;
  border-radius: 10px;
  align-items: center;
  box-shadow: none !important;

  .p-dropdown-label {
    border: none;
    color: $basic-black;
    margin-left: 10px;
    background-color: $basic-white !important;
  }

  .p-inputtext {
    border: none !important;
  }

  .p-dropdown-trigger {
    background-color: $basic-white !important;
    color: $basic-black !important;
    margin-right: 5px;
  }

  p-dropdownitem {
    .p-highlight {
      background: $highlighted !important;
      color: $basic-white !important;
    }
  }

  &:hover {
    border: 2px solid $basic-grey !important;
  }

  &:focus, &.p-focus {
    border: 2px solid $highlighted !important;
    box-shadow: none !important;
  }
}
