.red-bar .ui-progressbar .ui-progressbar-value {
    background: #A73737 !important;
  }
  
  .grey-bar .ui-progressbar .ui-progressbar-value {
    background: #95989A !important;
  }
  
  .blue-bar .ui-progressbar .ui-progressbar-value {
    background: #32C5F0 !important;
  }

  .ui-progressbar {
    height: 32px !important;
    border-radius: 8px !important;
  }
