.if-radiobutton {
  /* Hide the browser's default checkbox */
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    height: $checkbox-height;
    width: $checkbox-width;
    cursor: pointer;
    z-index: 1000;
  }

  /* Create a custom checkbox */
  .checkmark {
    height: $checkbox-height;
    width: $checkbox-width;
    border: solid $basic-grey 1px;
    border-radius: 50%;
    background-color: $basic-white;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark:after {
/*    margin-left: 5px;
    height: 10px;
    width: 5px;*/
    height: 12px;
    width: 12px;
    margin-left: 1px;
    margin-top: 1px;
    border: none;
    border-radius: 50%;
    background-color: $basic-black;
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: $basic-grey;
  }

  /* On mouse-over, add a grey background color */
  input:checked ~ .checkmark {
    background-color: $basic-white;
  }

}
