<div class="maintenance-value">
  <div *ngIf="maintenanceValue" [style.width.%]="100" class="label-success">
    <div *ngIf="maintenanceValue <= lowerThreshold" class="container">
      <p-progressBar [showValue]="false" [value]="maintenancePercentage" class="progress-bar"
                     class="red-bar"></p-progressBar>
      <p class="progress-bar-label value-label">{{ maintenanceValue }}</p>
      <p class="overshooting-indicator"></p>
    </div>
    <div *ngIf="maintenanceValue > lowerThreshold && maintenanceValue <= upperThreshold" class="container">
      <p-progressBar [showValue]="false" [value]="maintenancePercentage" class="progress-bar"
                     class="grey-bar"></p-progressBar>
      <p class="progress-bar-label value-label">{{ maintenanceValue }}</p>
      <p class="overshooting-indicator"></p>
    </div>
    <div *ngIf="maintenanceValue > upperThreshold" class="container">
      <p-progressBar [showValue]="false" [value]="maintenancePercentage" class="progress-bar"
                     class="blue-bar"></p-progressBar>
      <p class="progress-bar-label value-label">{{ maintenanceValue }}</p>
      <p class="overshooting-indicator"></p>
    </div>
  </div>
  <div *ngIf="!maintenanceValue" class="container">
    <p-progressBar [showValue]="false" [value]="0" class="progress-bar" class="light-grey-bar"></p-progressBar>
    <p class="progress-bar-label na-label">n.a.</p>
  </div>
</div>
