<div class="maintenance-value">
    <div class="label-success" [style.width.%]="50" *ngIf="!noMaintenacneValue">
        <div class="container" *ngIf="maintenancePercentage &lt; 25">
            <p-progressBar class="progress-bar" class="red-bar" [value]="maintenancePercentage" [showValue]="false"></p-progressBar>
            <p class="label-class">{{ maintenanceDurationHours }}</p>
        </div>
        <div class="container" *ngIf="maintenancePercentage &gt; 25 && maintenancePercentage &lt; 50">
            <p-progressBar class="progress-bar" class="grey-bar" [value]="maintenancePercentage" [showValue]="false"></p-progressBar>
            <p class="label-class">{{ maintenanceDurationHours }}</p>
        </div>
        <div class="container" *ngIf="maintenancePercentage &gt; 50">
            <p-progressBar class="progress-bar" class="blue-bar" [value]="maintenancePercentage" [showValue]="false"></p-progressBar>
            <p class="label-class">{{ maintenanceDurationHours }}</p>
        </div>
    </div>
    <div class="label-success" [style.width.%]="50" *ngIf="noMaintenacneValue"></div>
    <div [style.width.%]="5"></div>
    <div class="label-success" [style.width.%]="50" *ngIf="!noMaintenacneValue">
        <div *ngIf="maintenancePercentage &lt; 25">
            <b>{{ maintenanceDurationHours }} Stunden</b> oder <b>{{ maintenanceDurationDays }} Tage</b>
        </div>
        <div *ngIf="maintenancePercentage &gt; 25 && maintenancePercentage &lt; 50">
            <b>{{ maintenanceDurationHours }} Stunden</b> oder <b>{{ maintenanceDurationWeeks }} Wochen</b>
        </div>
        <div *ngIf="maintenancePercentage &gt; 50">
            <b>{{ maintenanceDurationHours }} Stunden</b> oder <b>{{ maintenanceDurationMonth }} Monate</b>
        </div>
    </div>
    <div class="label-success" [style.width.%]="50" *ngIf="noMaintenacneValue"></div>
</div>
