<div class="list-header">
    <div class="list-header-item" [style.width.%]="5"></div>
    <div class="list-header-item" [style.width.%]="30">Asset
        <fa-icon  [icon]="faSort"></fa-icon>
        <!-- <app-list-filter [assets]="assets" [attribute]="'category'" [attributeName]="'category'" (filterEvent)="onFilter($event)"></app-list-filter> -->
    </div>
    <div class="list-header-item" [style.width.%]="30">Asset Type
        <fa-icon  [icon]="faSort"></fa-icon>
        <!-- <app-list-filter [assets]="assets" [attribute]="'category'" [attributeName]="'category'" (filterEvent)="onFilter($event)"></app-list-filter> -->
    </div>
    <div class="list-header-item" [style.width.%]="30">Manufacturer
        <fa-icon  [icon]="faSort"></fa-icon>
        <!-- <app-list-filter [assets]="assets" [attribute]="'manufacturer'" [attributeName]="'manufacturer'" (filterEvent)="onFilter($event)"></app-list-filter> -->
    </div>
    <div class="list-header-item" [style.width.%]="25">Factory
        <fa-icon  [icon]="faSort"></fa-icon>
        <!-- <app-list-filter [assets]="assets" [attribute]="'roomName'" [attributeName]="'room'" (filterEvent)="onFilter($event)"></app-list-filter> -->
    </div>
    <div class="list-header-item" [style.width.%]="30">Maintenance due
        <fa-icon  [icon]="faSort"></fa-icon>
        <!-- <app-list-filter [assets]="assets" [attribute]="'locationName'" [attributeName]="'location'" (filterEvent)="onFilter($event)"></app-list-filter> -->
    </div>
    <div class="list-header-item" [style.width.%]="30">
        <!-- <app-list-filter [assets]="assets" [attribute]="'locationName'" [attributeName]="'location'" (filterEvent)="onFilter($event)"></app-list-filter> -->
    </div>
    <div class="list-header-item" [style.width.%]="5"></div>
  </div>