<div class="list-header">
    <div class="list-header-item" [style.width.%]="5"></div>
    <div class="list-header-item" [style.width.%]="30" (click)="searchpanel.toggle($event)"  #assetDiv>Asset
        <fa-icon [icon]="faSearch" class="fa-fw" ></fa-icon>
    </div>
    <div class="list-header-item" [style.width.%]="30">Asset Type
    </div>
    <div class="list-header-item" [style.width.%]="30">Manufacturer
    </div>
    <div class="list-header-item" [style.width.%]="20">Factory
    </div>
    <div class="list-header-item" [style.width.%]="30">Maintenance due
    </div>
    <div class="list-header-item" [style.width.%]="5"></div>
    <div class="list-header-item" [style.width.%]="30">
    </div>
    <div class="list-header-item" [style.width.%]="5"></div>
</div>


<p-overlayPanel #searchpanel [showCloseIcon]="true" class="assetSearchPanel">
    <ng-template pTemplate>
        <div class="panel-heading">Search</div>
        <span class="p-input-icon-left">
            <fa-icon [icon]="faSearch" class="fa-fw" ></fa-icon>
            <input type="text" pInputText [(ngModel)]="searchText" placeholder="Name" class="search-input">   
        </span>
    <br>
    <div class="footer">
        <button type="button" class="if-button button-primary button-modal" style="font-size: 13px; height: 30px; margin: 5px 0 0 0;"  (click)="searchAssets()">Apply</button>
    </div>
    </ng-template>
</p-overlayPanel>
