
.if-mail-icon {
  background: url(/assets/icons/mail.svg);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  align-items: center;
}

.if-webhook-icon {
  background: url(/assets/icons/webhook.svg);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  align-items: center;
}
