/** font size **/
$regular-font-size: 14px;
$medium-font-size: 16px;
$bigger-font-size: 18px;
$big-font-size: 24px;
$huge-font-size: 48px;

$regular-line-height: 18px;
$bigger-line-height: 21px;
$big-line-height: 23px;
$huge-line-height: 30px;
