.wrapper {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
}

.error-title {
  font-size: 22px;
}

.error-icon {
  width: 22px;
  height: 22px;
}

.details-title {
  font-weight: bold;
}

.error-details {
  padding-top: 30px;
}

.button-wrapper {
  padding-top: 30px;
}
